<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NDaF5cWWtCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXZcdHVWQmhdUEB/W0A=" />
        <add key="BOBO" value="sk-_Okl_ouSARHxgQiQF8Z9knPnyeQDb4d-oE3wl1vRitT3BlbkFJL4_v87Dq8ih92Qy-DoTqhts43lIPGNnrcHaAdNNfoA" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />        
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <add key="Baby" value="C:\Users\terry\source\repos\Ninja\IO\Clients\Baby\Baby.exe" />
    </appSettings>
</configuration>