<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
    </startup>
    <connectionStrings>
        <add name="SQLite" connectionString="Data Source=C:\Users\terry\source\repos\Bocefus\Data\Database\SQLite\DataModels\Data.db" providerName="System.Data.SQLite" />
        <add name="SqlCe" connectionString="Data Source=C:\Users\terry\source\repos\Bocefus\Data\Database\SqlCe\DataModels\Data.sdf;" providerName="System.Data.SqlServerCe" />
    </connectionStrings>
    <appSettings>
        <!--***************************************      EXTENSIONS     *************************************-->
        <add key="DB" value="C:\Users\terry\source\repos\Bocefus\Data\Database\SQLite\DataModels\Data.db" />
        <add key="SDF" value="C:\Users\terry\source\repos\Bocefus\Data\Database\SqlCe\DataModels\Data.sdf" />
        <!--**********************************   CLIENTS   ******************************-->
        <add key="SQLiteMinion" value="C:\Users\terry\source\repos\Bocefus\Data\Clients\SQLite\DB Browser for SQLite.exe" />
        <add key="SQLiteArgs" value="C:\Users\terry\source\repos\Bocefus\Data\Database\SQLite\DataModels\Data.db" />
        <add key="AccessMinion" value="C:\Users\terry\source\repos\Bocefus\Data\Database\Access\DataModels\Data.accdb" />
        <add key="SqlCeMinion" value="C:\Users\terry\source\repos\Bocefus\Data\Clients\SqlCe\CompactView.exe" />
        <add key="SqlCeArgs" value="C:\Users\terry\source\repos\Bocefus\Data\Database\SqlCe\DataModels\Data.sdf" />
        <!--**********************************   BROWSERS   ******************************-->
        <add key="Edge" value="C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe" />
        <add key="Chrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
        <add key="FireFox" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
        <!--***************************** RESOURCE LOCATIONS ******************************-->
        <add key="DatabaseDirectory" value="Data\Database\" />
        <add key="BudgetWeb" value="Resources\Web\index.html" />
        <add key="RootPrefix" value="C:\Users\terry\source\repos\Bobo\" />
        <add key="Reports" value="Resources\Reports\Report.xlsx" />
        <add key="Documents" value="Resources\Documents\" />
        <add key="Loading" value="Resources\Assets\LoaderImages\Loading.gif" />
        <add key="Waiting" value="Resources\Assets\LoaderImages\Waiting.gif" />
        <add key="Processing" value="Resources\Assets\LoaderImages\Processing.gif" />
        <!--*********************************      SECRETS      ******************************-->
        <add key="UI" value="Ngo9BigBOggjHTQxAR8/V1NAaF5cWWJCf1FpRmJGdld5fUVHYVZUTXxaS00DNHVRdkdnWXhcdnRcQ2RdVE11WkY=" />
        <add key="ApiKey" value="AIzaSyBsfbY19GJMzr3MXqr6MhJ4YKDfhv4QNkw" />
        <add key="SearchEngineId" value="a2f030f4bfacb4008" />
        <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <runtime>
    </runtime>
</configuration>